:root {
  --snowflake-color: #fff;
  --snowflake-size: 10px;
  --snowflake-speed: 2s;
  --snowflake-start: 0s;
  --snow-flake: var(--snowflake-size);
}

body {
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

@media (max-width: 300px) {
}

@keyframes snow {
  to {
    transform: translateY(calc(100vh + var(--snowflake-size)));
  }
}

.snowflake {
  animation-delay: var(--snowflake-delay);
  animation-duration: var(--snowflake-speed);
  animation-direction: linear;
  animation-iteration-count: infinite;
  animation-name: snow;
  animation-timing-function: linear;
  background-color: var(--snowflake-color);
  border-radius: 50%;
  height: var(--snowflake-size);
  left: var(--snowflake-x);
  position: fixed;
  top: calc(var(--snowflake-size) * -1);
  width: var(--snowflake-size);
}

h1 {
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #1e81b0;
  margin-bottom: 0;
}

li {
  color: #10445e;
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;
  color: rgb(8, 8, 8);
  margin: 50px 30px;
  padding: 5px;
  width: 90px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(7, 7, 7);
}
input[type="search"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;

  margin: 0 10px;
  padding: 5px;
  width: 200px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(17, 17, 17);
}

input[type="submit"]:hover {
  background-color: rgba(235, 219, 219, 0.89);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.borders {
  padding: 70px;
  margin: 60px auto;
  max-width: 1000px;
  max-height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(5, 4, 4, 0.89);
  background: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temperatures {
  font-size: 18px;
}
