body {
  background: linear-gradient(
    114.2deg,
    rgb(121, 194, 243) 22.6%,
    rgb(255, 180, 239) 67.7%
  );
}
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #1e81b0;
  margin: 0;
}

li {
  color: #1995ce;
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
}
img {
  width: 110px;
  height: 90px;
}
input[type="submit"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;
  color: rgb(8, 8, 8);
  margin: 50px 30px;
  padding: 5px;
  width: 90px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(7, 7, 7);
}
input[type="search"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;
  color: rgb(17, 16, 16);
  margin: 0 10px;
  padding: 5px;
  width: 200px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(17, 17, 17);
}

input[type="submit"]:hover {
  background-color: rgba(5, 4, 4, 0.89);
}
.forecast {
  border: 1px solid #063970;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-background-filter: blur;
  justify-content: center;
  display: flex;
  transition: all 200ms ease-in-out;
}
.forecast:hover {
  background: #fffbef;
  width: 200px;
  height: 20px 0px;
}
