body {
  background-color: #fffbef;
}
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #1e81b0;
  margin: 0;
}

li {
  color: #1995ce;
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
}
img {
  width: 110px;
  height: 90px;
}
input[type="submit"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;
  color: rgb(8, 8, 8);
  margin: 50px 30px;
  padding: 5px;
  width: 90px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(7, 7, 7);
}
input[type="search"] {
  border: 1px solid #c5b9b9;
  border-radius: 20px;

  margin: 0 10px;
  padding: 5px;
  width: 200px;
  background: transparent;
  box-shadow: 10px 5px 5px rgb(17, 17, 17);
}

input[type="submit"]:hover {
  background-color: rgba(235, 219, 219, 0.89);
}
.forecast {
  border: 1px solid #063970;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-background-filter: blur;
  justify-content: center;
  display: flex;
  transition: all 200ms ease-in-out;
}
.forecast:hover {
  background: #fffbef;
  width: 200px;
  height: 20px 0px;
}

.col-2 {
  width: 16.66666667%;
  flex: 0 auto;
}
.row {
  display: flex;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 50px;
  border-radius: 5px;
  background: transparent;
}
.content:hover {
  background-color: transparent;
  color: rgb(238, 235, 235);
}
#temperature {
  color: rgb(12, 11, 11);
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  top: 80px;
  right: 90px;
}
#glass {
  width: 220px;
  height: 220px;
  position: relative;
  top: 40%;
  left: 50%;
  justify-content: center;
  box-shadow: 10px 5px 5px black;
  transition: all 200ms ease-in-out;
}
#glass:hover {
  background: #cdefee;
  width: 250px;
  height: 25px 0px;
}
.units {
  position: relative;
  top: 50px;
  right: 40px;
  font-weight: 25px;
}
.col-lg-1 {
  display: inline;
  margin: 50px;
  padding: 50px;
}
.borders {
  border: 1px solid rgb(223, 103, 143);
  padding: 40px;
  margin: 30px auto;
  background: linear-gradient(
    109.6deg,
    rgb(135, 168, 254) 11.2%,
    rgb(254, 165, 197) 100.2%
  );
  max-width: 800px;
  max-height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(5, 4, 4, 0.89);
}
